body {
	background: rgb(223, 59, 59);
	color: white;
	margin: 0;
	font-family: rubik;
}

.container {
	padding: 40px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 54px;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
	list-style: none;
	padding: 40px;
	color: #222;
	text-align: center;
	border-radius: 20px;
	position: relative;
}

.card::after {
	content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: #fff;
  opacity: .7;
  position: absolute;
  top: 15%;
  left: 25%;
}

.fairy{
	background-color: #fdb9e9;
}
.ghost {
	background-color: #7b62a3;
}
.steel {
	background-color: #9eb7b8;
}

.fire {
	background-color: #fd7d24
}

.grass {
	background-color: #9bcc50
}

.electric {
	background-color: #eed535
}

.water{
	background-color: #4592c4
}

.ice {
	background-color: #51c4e7;
}

.ground {
	background-color: #ab9842;
}

.rock {
	background-color: #a38c21
}

.poison {
	background-color: #b97fc9;
}

.bug {
	background-color: #729f3f;
}

.dragon {
	background-color: #53a4cf
}

.psychic {
	background-color: #f366b9
}

.flying {
	background-color: #3dc7ef;
}

.fighting {
	background-color: #d56723;
}

.normal {
	background-color: #a4acaf;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
	color: rgb(78, 77, 77);
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}